body {
	font-family: 'robotolight', sans-serif;
}

button:focus {
	outline: 0;
}

.scroll-show {
	transition: all .25s ease-out;
}

a.text-white {
	text-decoration: none;
}

/* Navigation */
.navbar {
	box-shadow: 0px 2px 10px #333;
	line-height: 1.2;
}

.navbar-brand span {
	color: #fff;
}

.navbar-brand img {
	width:  60px;
	height: 60px;
}

.nav-item {
	margin-right: -1rem;
}

.navbar-nav .nav-item ,
.navbar-nav .nav-item a.nav-link {
	padding: .5rem 1rem;
	color: #ddd;
}

.navbar-nav .nav-item a.nav-link:focus {
	color: #ddd;
}

.navbar-nav .nav-item a.nav-link:hover {
	color: #fff;
	background-color: #36404b;
}

.dropdown-menu {
	background-color: #343a40;
	border: 0;
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:hover {
	background-color: #36404b;
	color: #fff;
}

.dropdown-menu a {
	color: #fff;
}

.navbar-toggler {
	color: #fff;
}

/* Calendar */
.calendar-wrapper {
	position: fixed;
	z-index: 2;
	right: -650px;
	top: 130px;
	transition: all .3s ease-out;
}

#calendar {
	width: 650px;
	background-color: #fff;
	padding: 30px;
	float: left;
	box-shadow: 0 0 7px #777;
}

#calendar h2 {
	font-size: 1.5em !important;
}

#calendar-btn {
	float: left;
	box-shadow: 0 0 7px #777;
}

#calendar-btn .btn {
	border-radius: 0;
}

#calendar .fc-event {
	color: #fff;
}

.fc-unthemed td.fc-today {
	background-color: #27ae60 !important;
	color: #fff;
}

/* Top Footer */
.top-footer {
	padding: 4em 0;
	background-color: #292929;
	color: #fff;
}

#googleMap {
	width: 100%;
	height: 200px;
	margin-bottom: 30px;
}

.footer-info .img-logo {
	width:  90px;
	height: 90px;
	margin-bottom: 15px;
}

.footer-info p {
	font-size: .9em;
}

.footer-info a {
	color: #fff;
}

.footer-info .fa {
	width:  40px;
	height: 40px;
	padding: 12px;
}

.footer-info .fa-twitter {
	background-color: #1da1f3;
}

.footer-info .fa-facebook {
	background-color: #3b5998;
}

.footer-nav li {
	list-style: none;
}

.footer-nav li a {
	color: #ddd;
	line-height: 2.3em;
	text-decoration: none;
}

.footer-nav li a:hover {
	color: #fff;
}

/* Bottom Footer */
.bottom-footer {
	background-color: #212121;
	color: #fff;
	padding: 1rem 0;
}

.bottom-footer a {
	color: #fff;
	text-decoration: none;
}

.bottom-footer p {
	margin: 0;
}